.about-page {
  position: relative;

  &__section {
    margin: 0 0 9rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .about-page {
    &__section {
      margin: 0 0 5rem 0;
    }
  }
}

.about-clients {
  position: relative;
  display: flex;
  align-items: flex-start;

  &__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 50%;
  }

  &__list {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    align-items: center;
    
    &-image {
      width: auto;
      // filter: grayscale(100%);
    }
  }
}