html {
  background-color: $background;
  color: $text-color;
}

* {
  box-sizing: border-box;
  cursor: none;
}

.container {
  position: relative;
  max-width: 1640px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;

  &--small {
    max-width: 1024px;
  }

  &--medium {
    max-width: 1376px;
  }
}

.app-layout {
  position: relative;

  &__inner {
    position: relative;
  }
}

// Media

@media screen and (max-width: 576px) {
  .container {
    padding: 0 1rem;
  }
}