// Primary
$brand-primary: #EE664E;
$brand-primary--light: #fa6146;

// Secondary
$brand-secondary: #1E2022;
$brand-secondary--light: #2a2c2e;

// Texts
$text-color: #fff;
$text-color--dark: rgb(218, 218, 218);
$text-color--primary: EE664E;

// Backgrounds
$background: #1E2022;
$background--light: #2a2c2e;

// Borders
$border-primary: #fff;

// Time
$time: 0.2s;
$time--medium: 0.4s;
$time--long: 0.6s;
