.about-list-section {
  position: relative;
  display: flex;
  align-items: flex-start;

  &__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 50%;
  }

  &__content {
    position: relative;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem 2rem;

    &-item {
      width: 100%;
    }

    &-heading {
      margin: 0 0 1rem 0;
      font-weight: bold;
    }

    &-list {
      li {
        font-weight: 500;
      }
    }
  }
}

// Media

@media screen and (max-width: 1024px) {
  .about-list-section {
    flex-direction: column;

    &__heading {
      width: 100%;
      margin: 0 0 2rem 0;
    }

    &__content {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      
    }
  }
}